h1{
  color : green;
  font-family : ModeSeven;
  font-weight: bold;
}
#cursor{
  font-size: 1.1em;

  color : green;
  font-family : ModeSeven;
}
#prompt{
  font-size: 1.1em;
  color : green;
  font-family : ModeSeven;

}
img {
  border-radius: 100px;
  border-width: 1px;
  border-color: green;
  border-style: solid;
}
.text-art{
  font-size: 1.1em;
  font-family: monospace;
  white-space: pre;
  color : green;
  font-family : ModeSeven;
}
.history{
  font-size: 1.1em;

  color : green;
  font-family : ModeSeven;
}
#command {
  font-size: 1.1em;
 
  color : green;
  font-family : ModeSeven;

  background-color: black;
  border-color: black;
 
  outline: none;
  font-weight: bold;
}
#area {
  font-size: 1.1em;
 
  color : green;
  font-family : ModeSeven;

  background-color: black;
  border-color: black;
 
  outline: none;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 0;
  padding-left: 0;
  line-height: 1em;
}
#command:focus{
  border: none;
}
p{
  color : green;
  font-family : ModeSeven;
  font-size: 1.1em;
  margin-bottom: 0px !important;
}

@font-face {
  font-family: 'Zig';
  src: local('Zig'), url(./assets/fonts/zig.ttf) format('truetype');
}

@font-face {
  font-family: 'ModeSeven';
  src: local('Modeseven'), url(./assets/fonts/modeseven.ttf) format('truetype');
}